@inherits LayoutComponentBase

<div class="min-h-screen bg-slate-900 text-white">
    <Header />
    <main class="container mx-auto py-6 h-full max-w-7xl">
        <div class="px-4 sm:px-6 lg:px-8">
            @Body
        </div>
    </main>
</div>
